@media only screen and (max-width: 768px) {
	.title-wrap .title-content .title {
		font-size: 1em;
		top: 1em;
		color: orange;
	}

	.title-wrap .title-icon {
		height: 1em;
		margin-right: .5em;
		margin-top: -4em;
		width: 1em;
	}

	.title-wrap .title-content {
		color: orange;
	}

	.title-wrap .title-content .title-detail {
		color: orange;
		text-align-last: left;
	}

	.container .box {
		min-width: 250px;
	}

	.container-left {
		width: 100% !important;
		height: 280px;
	}

	.container-right {
		width: 100%;
		padding: 0;
	}

	.swiper-container {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.box-container .title {
		display: none;
	}

	.container .right-text {
		font-size: .8em;
		padding: 1em;
	}

	.info h3 {
		font-size: 1em;
	}

	.fp-section:nth-child(3) .fp-overflow::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	
	.fp-section:nth-child(3) .fp-overflow {
		scrollbar-width: none; /* 针对 Firefox */
		overflow: auto; /* 保持滚动功能 */
	}

	.fp-section:nth-child(4) .fp-overflow::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	
	.fp-section:nth-child(4) .fp-overflow {
		scrollbar-width: none; /* 针对 Firefox */
		overflow: auto; /* 保持滚动功能 */
	}
}